
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">StillCoin</h3>
        <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Contact</a>
        </nav>
    </div>
    </header>

    <main role="main" class="inner cover">
    <h1 class="cover-heading">My new crypto coin exchange</h1>
    <p class="lead">ICO's are a great place to invest all your savings. Do it with us. GPU's make things better.</p>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
    </main>

    <footer class="mastfoot mt-auto">
    <div class="inner">
        <p>(This coin thing isn't real)</p>
    </div>
    </footer>
</div>